body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2196f3;
  color: white;
  text-align: center;
  padding: 20px;
}

.produk {
  display: flex;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.btn {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
}
